.featured {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.featuredItem {
  flex: 1;
  margin: 0 20px;
  padding: 30px;
  border-radius: 10px;
  cursor: pointer;

  -webkit-box-shadow: 3px 4px 7px -3px #c3c1b8;
  box-shadow: 3px 4px 7px -3px #c3c1b8;

  /* -webkit-box-shadow: 4px 4px 6px 4px rgba(213, 207, 205, 0.5);
  box-shadow: 4px 4px 6px 4px rgba(213, 207, 205, 0.5); */
}

.featuredTitle {
  font-size: 20px;
}

.featuredMoneyContainer {
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.featuredMoney {
  font-size: 30px;
  font-weight: 600;
}

.featuredMoneyRate {
  display: flex;
  align-items: center;
  margin-left: 12px;
}
.featuredIcon {
  font-size: 14px;
  margin-left: 5px;
  color: green;
}

.featuredIcon.negative {
  color: red;
}

.featuredSub {
  font-size: 15px;
  color: grey;
}
